body {
    margin-top: 50px;
    margin-bottom: 30px;
}

.video-title {
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    line-height: 32px;
    font-size: 28px;
}

.comment {
    color: #333;
    padding: 10px 10px 13px 10px;
    border-radius: 2px;
    list-style-type: none;
}

li.comment strong.label {
    margin-right: 6px;
}

.comment:hover {
    background-color: rgba(200,200,200,0.1);
}

.comment-box {
    width: 100%;
    resize: vertical;
    height: 55px;
    border: 1px solid #ccc;
    margin: 10px 0;
    padding-left: 10px;
}

.comment-area {
    padding-left: 0px !important;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.page-header {
    margin-top: 0px !important;
}

.user-name {
    font-weight: 700;
}

#vertical-sentiment-bar {
    display: inline-block;
    width: 35px;
    height: 66vh;
    border: solid 2px #5cb85c;
    border-radius: 5px;
    position: relative;
    margin-right: -6px;
    padding-top: 4px;
}

ul#example-messages {
    height: 50vh;
    overflow: auto;
}

.no-padding {
    padding: 0;
}

#sentiment-container{
    width: 100%;
    height: 20px;
    display: inline-flex;
    background:#000000;
}

.sentiment-block{
    flex-grow:4;
    background: #00ff00;
}
.sentiment-block:hover{
    cursor:pointer;
    opacity:0.5;
}
#form1 {
    display: inline-flex;
    height: 100%;
    
}

#createLink {
    margin: auto 5px;
}