
  <div class="container theme-showcase" role="main">
    
    <div class="page-header">
      <h1 class="video-title">Hack the North Closing Ceremony</h1>
    </div>
  
  <!-- Customize embed by getting link from URL -->
  <div class="col-xs-12 col-sm-4 pull-right">
    <div class="comment-area">
      <div class="comment">
        <span class="label label-success">Shub Sengupta</span>
        This is a good comment! This is a good comment! This is a good comment! This is a good comment! This is a good comment! This is a good comment!
      </div>
       <div class="comment">
        <span class="label label-danger">Shub Sengupta</span>
        This is a bad comment!
      </div>
      <div class="comment">
        <span class="label label-warning">Shub Sengupta</span>
        This is an okay comment! This is an okay comment! This is an okay comment!
      </div>
      <div class="comment">
        <span class="label label-default">Shub Sengupta</span>
        This is a netural comment!
      </div>
     
    </div>
  </div>
  <div class="col-xs-12 col-sm-8">
    <div class="videoWrapper hidden-xs">
      <iframe width="640" height="360" src="https://www.youtube.com/embed/kWu9rqA0SVk" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="comment-box col-xs-12">
      <textarea placeholder="Comment here..."></textarea>
      <button type="button" class="btn btn-default pull-right">Submit Comment</button>
    </div>
  </div>
  <!-- Post Comment Template-->
  <div>
  	<form ng-submit="home.postComment()">
	<input type='button' value='Input'  class='btn btn-default'></input>
	<input type='text' ng-model='home.comment'></input>
	</form>
	<p>{{home.comment}}</p>
	<p>{{home.postSentiment}}

</div>
