<div id="form1" ng-init='landing.init()'>
    <div class="row">
		<div class="col-md-4 col-md-offset-4">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 id="createLink" class="panel-title">Chat while streaming!!</h3>
			 	</div>
			  	<div class="panel-body">
			    	<form accept-charset="UTF-8" role="form">
                    <fieldset>
			    	  	<div class="form-group">
			    		    <input type='text' class="form-control" ng-model='landing.link' placeholder="Enter URL Here"></input> <br>
			    		</div>
			    		<div class="form-group">
			    			<input type="text" class="form-control"  ng-model='landing.event' id="inputPassword3" placeholder="Enter Title of Event"> <br>
			    		</div>
			    		<div class="Buttons">
			    	    	<label>
			    	    		 <input type='button' class="btn btn-default" ng-click='landing.getLocation()' value='Location'></input> <br>
			    	    	</label>
			    	    </div>
			    		<input ng-click='landing.createLink()' class="btn btn-lg btn-success btn-block" type="button" value="Create Link!">
                    <p ng-show="landing.response">Your link is <a href="{{landing.response}}">{{landing.response}}</a></p>
			    	</fieldset>
			      	</form>
			    </div>
			</div>
		</div>
        <div class='col-md-4 col-md-offset-4'>
            <h1 class='text-center  '>Events near you</h1>
            <div ng-repeat='stream in landing.localStreams'>
                <a ui-sref="room({{landing.getId(stream)}})"><h4 class='text-center'>{{stream.title}}</h4></a>
            </div>
        </div>
	</div>