
  <div ng-init='room.init()' class="container theme-showcase" role="main">
    
    <div class="page-header">
      <h1 class="video-title">{{room.title}}</h1>
    </div>

  <div id="vertical-sentiment-bar" class="col-xs-1 pull-left"></div>
  
  <div class="col-xs-11 col-sm-3 pull-right">
    <div class="example-chat l-demo-container">
      <ul id='example-messages' class="comment-area">

        <li ng-repeat="message in room.messages" class='comment' anchor-bottom>
          <strong class='label' ng-class='room.calculateSentimentClass(message.sentiment)'>{{message.name}}</strong>
          {{message.text}}
        </li>
      </ul>
    </div>

  </div>
  <div class="col-xs-11 col-sm-8">
    <div class="videoWrapper hidden-xs">
        <div id="player" width="640px" height="360px"></div>
    </div>
    <div id="sentiment-container"></div>
    <div class="col-xs-12 no-padding">
        <form ng-submit="room.postComment()">
            <input placeholder="Comment here..." ng-model='room.comment' class="comment-box"></input>
            <input id="submit-btn" type="submit" class="btn btn-default pull-right" value="Submit Comment"></input>
        </form>
    </div>
  </div>
  <div class="col-xs-12">
    <button ng-show='!room.isLoggedIn' ng-click='room.loginFacebook()'>Login with Facebook</button>
    <button ng-show='room.isLoggedIn' ng-click="room.logout()">Logout</button>
  </div>
  

</div>
